<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div id="stats" class="stats"></div>
    <hr style="width:80%;text-align:center">
    <div id="question" class="question"></div>
    <div id="options" class="options-container"></div>
    <hr style="width:80%;text-align:center">
    <div id="feedback" class="feedback"></div>
</body>
</html>
